@import url("./nerd-font-icons.css");

@font-face {
  font-family: "DaddyTimeMono";
  font-style: normal;
  font-weight: normal;
  src: url("./DaddyTimeMonoNerd.ttf") format("truetype");
}

:root {
  --base-font-size: 1.6rem;
}

body {
  font-family: "DaddyTimeMono" !important;
}

.messages-container {
  height: 33%;
}

.w-20 {
  width: 2rem !important;
}

.h-20 {
  height: 2rem !important;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

.us-none {
  user-select: none;
}

.cursor-default {
  cursor: default;
}

.btn > .progress-bar {
  transition: width 0.1s linear;
}

@keyframes progress-anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
