:root {
  --base-font-size: 1.6rem;
  --progress-border-radius: var(--base-border-radius);
}

body {
  font-family: "DaddyTimeMono" !important;
}

.w-20 {
  width: 2rem !important;
}

.h-20 {
  height: 2rem !important;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  background: var(--lm-sidebar-bg-color);
}

.dark-mode footer {
  background: var(--dm-sidebar-bg-color);
}

.us-none {
  user-select: none;
}

.cursor-default {
  cursor: default;
}

button > div.progress {
  background-color: rgba(0, 0, 0, 0);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.progress-bar {
  transition: width 1s linear;
}

@keyframes progress-anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* Nerd Font Icons */
@font-face {
  font-family: "DaddyTimeMono";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/DaddyTimeMonoNerd.ttf") format("truetype");
  font-display: swap;
}

i.nf {
  font-style: inherit;
}
i.nf.nf-cog:before {
  content: "\f013"; /*  */
}
i.nf.nf-cogs:before {
  content: "\f085"; /*  */
}
i.nf.nf-pause:before {
  content: "\f04c"; /*  */
}
i.nf.nf-play:before {
  content: "\f04b"; /*  */
}
