i.nf {
  font-style: inherit;
}

i.nf.nf-cog:before {
  content: "\f013";
}
i.nf.nf-cogs:before {
  content: "\f085";
}
i.nf.nf-pause:before {
  content: "\f04c";
}
i.nf.nf-play:before {
  content: "\f04b";
}
